VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT="mailto:support@serbisyos.com"

OTP_SECRET_KEY=
SECRET_IV=
SERVICES_ENCRYPTION_KEY=
SECRET_KEY=
BREVO_API_KEY=
GEMINI_API_KEY=
SERVER_KEY_SEARCH=
SERVER_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_KEY_PLACEHOLDER=
RECAPTCHA_SECRET_KEY=
ENCRYPTION_KEY=
ENCRYPTION_IV=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI_LOGIN=https://www.serbisyos.com/functions/google_login.php
GOOGLE_REDIRECT_URI_SIGNUP=https://www.serbisyos.com/functions/google_signup.php

HOST=smtp-relay.brevo.com
EMAIL=
PASSWORD=
PORT=587
NO_REPLY_EMAIL=no-reply@serbisyos.com
NO_REPLY_ADMIN_EMAIL=admin@serbisyos.com

BASE_URL=https://serbisyos.com
SUPPORT_EMAIL=support@serbisyos.com

SMTP_HOST=smtp-relay.brevo.com
SMTP_USER=
SMTP_PASS=
SMTP_PORT=587
ADMIN_EMAIL=admin@serbisyos.com
SENDER_NAME="Serbisyos Support"
SENDER_EMAIL=support@serbisyos.com
FEEDBACK_ADMIN_EMAIL=admin@serbisyos.com

REPORT_HOST=mail.privateemail.com
REPORT_EMAIL=support@serbisyos.com
REPORT_PASSWORD=
REPORT_SMTP_PORT=587

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=serbisyos
SECRET_KEYS=
FLASK_OTP_URL=https://www.serbisyos.com/api/otp
TIMEZONE=Asia/Manila

SMTP_HOST=mail.serbisyos.com
SMTP_PORT=587
SMTP_USER=no-reply@serbisyos.com
SMTP_PASS=
SMTP_FROM=no-reply@serbisyos.com
SMTP_NAME=Serbisyos
