:root {
    --bg-btn-color: #ffc107;
    --bg-text: #ffffff;
    --bg-hover: #ffca28;
    --bg-color: #ffffff;
    --bg-danger: #e0352b;
}

.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px;
}

.reset-password-container {
    background: white;
    max-width: 380px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 450px;
}

.reset-password-container h2 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
    font-size: 14px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: var(--bg-btn-color);
}

.btn {
    background: var(--bg-btn-color);
    color: black;
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    transition: background 0.3s ease, transform 0.2s;
    margin-top: 10px;
}

.alert {
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.alert-danger {
    background-color: var(--bg-danger);
    color: var(--bg-text);
    border: 1px solid #f5c6cb;
}

@media (max-width: 500px) {
    .reset-password-container {
        width: 90%;
    }

    .input-group label {
        font-size: 13px;
    }
}